{% extends "base.html" %}

{% block title %}Nuevo Producto{% endblock %}

{% block content_title %}Nuevo Producto{% endblock %}

{% block content %}
  <form action="{{ url_for('new_producto') }}" class="form form-horizontal" method="post">
  	{% for field in form %}
  	  <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
  	  	{{ field.label(class='col-sm-3 control-label') }}
  	  	<div class="col-sm-9">
  	  	  {{ field(class='form-control') }}
          {% if field.errors %}
            <span class="glyphicon glyphicon-warning.sign form-control-feedback"></span>
          {% endif %}
          {% for error in field.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
  	  	</div>
  	  </div>
  	{% endfor %}
  	<div class="form-group">
  	  <div class="col-sm-offset-3 col-sm-9">
  	   	 <button type="submit" class="btn btn-default">Nuevo</button>
  	   	 <a class="btn" href="{{ url_for('list_producto') }}">Cancelar</a>
  	  </div>
  	</div>
  </form>
{% endblock %}
